* {
    margin: 0;
    /* font-family: sans-serif; */
    font-family: 'Work Sans';
}


/* 
section {
    display: flex;
    justify-content: column;
} */

.banner-image {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background: Red; */
}

.container-body {
    width: 75%;
    margin-top: 130px;
    /* background-color: green; */
    position: relative;
}

.banner-container {
    background: url("./images/banner/banner1.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 808px;
}

.banner-text {
    position: absolute;
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 808px;
    gap: 24px;
    /* background-color: purple; */
}

.bold-text {
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    font-weight: bold;
}

.secondary-text {
    font-size: 16px;
    text-align: right;
    line-height: 26px;
}

.button {
    text-align: right;
}

.button>button {
    /* text-align: right; */
    font-size: 20px;
    font-weight: bold;
    height: 64px;
    width: 160px;
    background-color: #F15B22;
    border: none;
    color: white;
    border-radius: 5px
}

.failure-section {
    height: 723px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 87px;
    /* background: Red; */
}

.failure-image {
    background: url("./images/person.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 40%;
}

.failure-section-texts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
    /* flex: 1; */
    /* background: red; */
}

.failure-section-text-header {
    font-size: 40px;
    font-weight: bold;
    line-height: 46.92px;
}

.failure-section-text-brief {
    font-size: 16px;
    line-height: 26px;
}

.tick-mark {
    color: #16D887;
    font-weight: bold;
}


/* plan section css starts here */

.plan-section-text-header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 46.92px;
}

.plan-sections {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-header {
    font-size: 30px;
    font-weight: bold;
    line-height: 35.19px;
}

.section-text {
    font-size: 25px;
    /* font-weight: bold; */
    line-height: 29.33px;
}


/* call now section css starts here */

.call-now-portion {
    /* background: url("./images/watch.png") no-repeat;
    background-size: 100% 100%; */
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(186, 134, 19, 0.17970938375350143) 0%, rgba(213, 124, 14, 0.8883928571428571) 86%, rgba(255, 158, 0, 1) 100%, rgba(48, 25, 25, 1) 100%, rgba(118, 69, 13, 1) 100%);
    width: 100%;
    height: 300px;
    position: absolute;
    border-radius: 5px;
}

.call-now-button>button {
    font-size: 20px;
    font-weight: bold;
    height: 64px;
    width: 160px;
    background-color: #ffffff;
    border: none;
    color: #F15B22;
    border-radius: 5px
}

.call-now-inner-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 459px;
    height: 100%;
    padding-left: 5rem;
    /* background: red; */
}

.call-now-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 46.92px;
}

footer {
    width: 100%;
    background-color: black;
    height: 577px;
    margin-top: 130px;
}